/** --- GENERIC CLASSES --- */
.display-flex{
    display: flex !important;
}
.display-none{
    display: none !important;
}

.opacity-on{
    opacity: 1 !important;
}
.opacity-off{
    opacity: 0 !important;
}

.collapse-height{
    max-height: 2rem !important;
}

.translate-xy{
    transform: translate(0rem, 0rem) !important;
}
.translate-x{
    transform: translateX(0rem) !important;
}
.translate-y{
    transform: translateY(0rem) !important;
}

.content-title-back{
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-indent: 0.5rem;
    letter-spacing: 0.5rem;
}
.content-title-circle{
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.15rem;
    width: 30%;
    text-transform: uppercase;
    text-indent: 1rem;
}

/** --- DOM --- */
body{
    height: 100vh;
    background: radial-gradient(circle,
     rgba(127,139,152,1) 0%, rgba(64,81,102,1) 20%, rgba(54,72,92,1) 40%, rgba(42,62,85,1) 60%, rgba(30,52,78,1) 80%, rgba(7,32,62,1) 100%);
    background-repeat: no-repeat;
    background: white;
}

a{
    color: var(--white);
    text-decoration: none;
}

/** --- SPECIFIC CLASSES --- */
/** Container */
.main-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 860px;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    margin: 2rem auto 1rem auto;
}

/** Header */
.main-container header{
    display: flex;
    overflow: hidden;
}
    /*! Header - LOGO */
    .logo-header{
        display: inherit;
        margin-left: 2rem;
        width: 50%;
        opacity: 1;
        transform: translate(-25rem, -5rem);
        transition: all 2s ease;
    }
        .logo-header__img{
            width: 4rem;
            height: 4rem;
            filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.7));
        }
        .logo-header-texts{
            margin: auto;
            margin-left: 1rem;
        }
            .logo-header__title{
                line-height: 1.5rem;
                font-size: 1.75rem;
                font-weight: 900;
            }
            .logo-header__subtitle{
                color: var(--gray-dark);
                line-height: 1.5rem;
                font-size: 1.25rem;
                font-family: 'Oswald', sans-serif;
            }
    /*! Header - SOCIAL ICONS */
    .social-icons-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }
        .social-icons-links, .social-icons__button{
            border: 1px solid var(--gray-medium);
            background-color: var(--blue-dark);
            line-height: 1rem;
            font-size: 1.25rem;
            cursor: pointer;
        }
        .social-icons-links:hover, .social-icons__button:hover{
            border-color: var(--red-light);
        }
        .social-icons-links{
            display: flex;
            margin: 0 2rem 0 0;
            border-radius: 5px 0px;
            background: radial-gradient(circle, var(--red-light) 0%,
                var(--blue-dark) 100%);
            opacity: 0;
            transition: opacity 1s ease;
        }
            .social-icons-links__line{
                margin: 0 0.5rem;
                padding: 0.35rem;
            }
                .social-icons-links__line-link{
                    padding: 0.5rem;
                    color: var(--gray-light);
                }
                .social-icons-links__line-link:hover{
                    color: var(--gray-light-medium);
                }
        .social-icons__button{
            width: 2rem;
            height: 2rem;
            color: var(--white);
        }

/** Content */
.main-content{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
    /*? Content - Profile*/
    .profile{
        display: flex;
        justify-content: space-evenly;
        min-height: 2rem;
        max-height: 18rem;
        border-top: 1px solid var(--gray-light-medium);
        background-color: var(--red-light);
        background-image: url("../img/header-shadow.png");
        background-position: center bottom;
        background-repeat: repeat-x;
        overflow: hidden;
        transition: max-height 1s ease-out;
    }
        /*! Content - Profile : ABOUT */
        .about{
            display: flex;
            margin-top: 1.5rem;
            margin-left: 1.25rem;
        }
            .about__photo{
                width: 10rem;
                height: 12rem;
                padding: 0.75rem;
                filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.7));
            }
                .about__photo-img{
                    width: 8rem;
                    height: 10rem;
                }
            .about__texts{
                margin-left: 0.5rem;
            }
                .about__texts-title{
                    margin-top: 0.5rem;
                    color: var(--gray-medium);
                    line-height: 2rem;
                    font-weight: 700;
                }
                .about__texts-subtitle{
                    line-height: 1.5rem;
                    font-size: 1.25rem;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 500;
                }
                .about__texts-description{
                    margin-top: 1rem;
                    color: var(--white);
                    line-height: 1.25rem;
                    font-size: 0.9rem;
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                }
        /*! Content - Profile : PERSONAL INFO */
        .personal-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem 0;
            padding: 1.25rem;
            min-height: 15rem;
            background: url("../img/personal-info-sep.png"),
                linear-gradient(90deg, var(--red-light) 0%, var(--blue-dark) 100%);
            background-repeat: no-repeat;
        }
            .personal-info__line{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0.25rem;
                width: 100%;
                line-height: 1rem;
                font-size: 0.9rem;
            }
                .personal-info__line-title{
                    padding: 0.25rem 0.5rem;
                    color: var(--gray-medium);
                    font-weight: 550;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                }
                .personal-info__line-desciprtion{
                    padding-top: 0.25rem;
                    width: 18rem;
                    color: var(--white);
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                }

    /*? Content - Menu*/
    .menu-main{
        position: relative;
        top: 0;
        padding: 0 6rem;
        height: 6.25rem;
        background-color: var(--gray-light);
        border-bottom: 1px solid var(--red-light);
        /*background: linear-gradient(90deg, var(--red-light) 0%, var(--blue-dark) 100%);*/
    }
        /*! Content - Menu : TABS*/
        .menu-main_tabs{
            display: flex;
            justify-content: space-evenly;
            margin-top: -1rem;
            height: 7.5rem;
            z-index: 100;
        }
            .menu-main_tab{
                margin: 0 0.5rem;
                padding: 1.5rem 0;
                width: 7.5rem;
                line-height: 2rem;
                transition: all ease 0.5s;
            }
            .menu-main_tab.active{
                background: url("../img/tab-hover.png") no-repeat;
            }
                .menu-main_tab-link{
                    color: var(--gray-medium);
                    font-size: 1rem;
                    font-weight: 580;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all ease 0.5s;
                }
                .menu-main_tab-link:hover{
                    color: var(--gray-medium);
                    text-decoration: none;
                    font-size: 1.25rem;
                }
                .menu-main_tab-link:hover > i{
                    color: var(--red-light);
                }
                .menu-main_tab-link:hover > span{
                    color: var(--blue-dark);
                }
                .menu-main_tab-link.active{
                    color: var(--blue-dark);
                }
                    .menu-main_tab-link > i{
                        display: block;
                        margin: 0.25rem 0 0.1rem;
                        font-size: 3rem;
                        transition: color ease-in-out 0.5s;
                    }
                    .menu-main_tab-link.active > i{
                        animation:  bounce 2s infinite;
                    }
                    .menu-main_tab-link > span{
                        display: block;
                        transition: color ease-in-out 0.5s;
                    }

    .resume, .portfolio, .contact{
        display: none;
        border-bottom: 1px solid var(--gray-light-medium);
        background-color: var(--gray-light-medium);
        z-index: 0;
        opacity: 0;
        transition: all 1s ease-out;
    }
    /*? Content - Resume*/
    .resume{
        border-left: 1px solid var(--gray-light-medium);
    }
        .resume-part-left, .resume-part-right{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .resume-profile, .resume-contact, .resume-experience, .resume-skills, .resume-interests, .resume-education{
            display: flex;
            flex-direction: column;
        }
        .resume-skills, .resume-interests, .resume-education{
            background-color: var(--black);
            color: var(--white);
        }
        /*! Content - Resume : PPROFILE*/
        .resume-profile{
            padding: 0.5rem 1rem;
        }
            .resume-profile__title{
                margin: 1rem 0.5rem 0.5rem;
                color: var(--red-light);
                font-size: 2.5rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            .resume-profile__subtitle{
                border-radius: 50px;
                padding: 0.25rem;
                width: 90%;
                background-color: var(--black);
                color: var(--white);
                text-align: center;
                text-transform: uppercase;
            }
            .resume-profile__description{
                margin: 1rem 0;
            }
        /*! Content - Resume : CONTACT - EXPERIENCE*/
        .resume-contact, .resume-experience{
            background-color: var(--white);
        }
            .resume-contact-title, .resume-experience-title{
                background: linear-gradient(90deg, var(--red-light) 30%, var(--blue-dark) 100%);
                color: var(--white);
            }
        /*! Content - Resume : CONTACT*/
            .resume-contact-data{
                background: linear-gradient(90deg, var(--white) 0%, var(--gray-light) 100%);
                border-top: 1px dotted red;
                padding: 1rem;
            }
                .resume-contact-data__line{
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    font-weight: 700;
                }
                    .resume-contact-data__line-title{
                        width: 25%;
                        color: var(--red-light);
                        text-transform: uppercase;
                    }
                    .resume-contact-data__line-desciprtion{
                        width: 75%;
                    }
        /*! Content - Resume : EXPERIENCE*/
            .resume-experience-data__line{
                display: flex;
                flex-direction: column;
                border-top: 1px dotted red;
                padding: 1rem;
            }
                .resume-experience-data__line-date{
                    background-color: var(--red-light);
                    color: var(--white);
                }
                .resume-experience-data__line-title{
                    margin: 0.25rem;
                    font-weight: 900;
                    text-transform: uppercase;
                }
                .resume-experience-data__line-desciprtion{
                    margin: 0.25rem;
                }
        /*! Content - Resume : SKILLS - INTERESTS - EDUCATION*/
            .resume-skills-title, .resume-interests-title, .resume-education-title{
                color: var(--red-light);
                text-align: center;
            }
            .resume-skills-data, .resume-interests-data, .resume-education-data{
                background-color: var(--blue-desaturated-dark);
                padding: 1rem;
            }
        /*! Content - Resume : SKILLS*/
            .resume-skills-data__line{
                display: flex;
                padding: 0.5rem 1rem;
            }
                .resume-skills-data__line-title{
                    width: 35%;
                    text-transform: uppercase;
                }
                .resume-skills-data__line-progressbar{
                    --data-val : 98%;
                    border-radius: 15px;
                    width: 65%;
                    background-color: var(--white);
                }
                .resume-skills-data__line-progressbar::before{
                    content: attr(data-value) '%';
                    display: block;
                    border-radius: 15px;
                    margin: 0.15rem;
                    width: var(--data-val);
                    height: 80%;
                    background:
                        linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
                        rgba(255, 255, 255, 0.15) 75%, transparent 75%) left/30px 30px repeat-x,
                        linear-gradient(to right, var(--blue-desaturated-dark) 0%, var(--blue-dark) 35%, var(--red-light) 100%), lightgray;
                    text-align: center;
                    box-shadow:inset 0px -2px 5px rgba(0, 0, 0, 0.5);
                    animation: changeProgressBar 1s linear infinite;
                }
        /*! Content - Resume : INTERESTS*/
            .resume-interests-data{
                display: flex;
                flex-wrap: wrap;
            }
                .resume-interests-data__line{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 1rem;
                    width: 25%;
                }
                    .resume-interests-data__line-icon{
                        margin-bottom: 1rem;
                        color: var(--blue-desaturated);
                        font-size: 2rem;
                    }
                    .resume-interests-data__line-title{
                        text-transform: uppercase;
                    }
        /*! Content - Resume : EDUCATION*/
            .resume-education-data__line{
                display: flex;
                flex-direction: column;
                padding: 1rem;
            }
                .resume-education-data__line-date{
                    color: var(--blue-very-dark);
                    background-color: var(--white);
                    font-weight: 900;
                }
                .resume-education-data__line-title{
                    color: var(--red-light);
                    margin: 0.25rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .resume-education-data__line-desciprtion{
                    margin: 0.25rem;
                }

    /*? Content - Portfolio*/
    .portfolio{
        flex-direction: column;
    }
        .portfolio-filter, .portfolio-list{
            margin: 0 1rem;
        }
            .portfolio-filter-data, .portfolio-list-data{
                display: flex;
                flex-wrap: wrap;
            }
        /*! Content - Portfolio : FILTER*/
            .portfolio-filter-data{
                border-bottom: 1px solid var(--blue-desaturated-dark);
            }
                .portfolio-filter-data__line{
                    margin: 1rem;
                    border: 2px solid var(--gray-medium);
                    border-radius: 15px;
                    padding: 0.5rem 1rem;
                    background-color: var(--gray-dark);
                }
                .portfolio-filter-data__line:hover{
                    border-color: var(--blue-desaturated);
                }
                .portfolio-filter-data__line.active{
                    border-color: var(--gray-dark);
                    background-color: var(--red-light);
                }
                .portfolio-filter-data__line.active:hover{
                    border-color: var(--gray-medium);
                }
        /*! Content - Portfolio : LIST*/
            .portfolio-list-data{
                background-color: var(--gray-light-medium);
            }
                .portfolio-list-data__line{
                    margin: 1rem 2.5rem;
                    border-top: 2px solid var(--gray-light);
                    border-bottom: 2px solid var(--gray-light);
                    border-radius: 5px;
                    padding: 0.5rem;
                    background-color: var(--gray-light);
                    transition: all 0.5s ease-in-out;
                }
                .portfolio-list-data__line:hover{
                    border-bottom-color: var(--blue-dark);
                    background-color: var(--gray-medium);
                }
                .portfolio-list-data__line.active{
                    border-top: 2px solid var(--blue-dark);
                    border-bottom: 2px solid var(--blue-dark);
                }
                    .portfolio-list-data__line-link{
                        color: var(--black);
                    }
                        .portfolio-list-data__line-link-img{
                            width: 180px;
                            height: 120px;
                        }
                        .portfolio-list-data__line-link-title{
                            margin: 0.5rem 0;
                            text-indent: 0.5rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
                        .portfolio-list-data__line-link-categorie{
                            display: block;
                            border-top: 1px solid var(--blue-desaturated);
                            padding-top: 0.5rem;
                            color: var(--red-light);
                            font-weight: 700;
                            text-align: right;
                        }

    /*? Content - Contact*/
    .contact{
        flex-direction: column;
    }
        .contact-row2{
            display: flex;
        }
        /*! Content - Contact : MAP*/
        .contact-map{
            margin-bottom: 1.5rem;
            border-top: 1px solid var(--gray-light-medium);
            border-bottom: 1px solid var(--gray-light-medium);
            width: 100%;
        }
            .contact-map__iframe{
                width: 100%;
                height: 300px;
            }
        /*! Content - Contact : INFO*/
        .contact-info{
            width: 30%;
        }
        /*! Content - Contact : MSG*/
        .contact-msg{
            width: 70%;
        }

/** Footer */
.copyright{
    padding: 0.25rem;
    border-radius: 5px;
    background: radial-gradient(circle, var(--blue-dark) 0%,
                var(--gray-light-medium) 100%);
    color: var(--white);
    font-weight: 900;
    text-align: center;
    font-size: 1.25rem;
    text-shadow: 0 0 5px var(--red-light);
}

/** --- ANIMATIONS --- */
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-10px);
    }
}
@keyframes changeProgressBar {
    from {background-position:0 0,left}
    to {background-position:30px 0,left}
  }

/** --- RESPONSIVE --- */
@media (max-width: 769px) {
    /** Container */
    .main-container{
        grid-template-columns: 700px;
    }
    /** Header */
    /*! Header - LOGO */
    .logo-header{
        margin-left: 1.5rem;
        width: 60%;
    }   .logo-header__title{
            font-size: 1.5rem;
        }
        .logo-header__subtitle{
            line-height: 1.25rem;
            font-size: 1.15rem;
        }
    /*! Header - SOCIAL ICONS */
    .social-icons-container{
        width: 40%;
    }
        .social-icons-links{
            margin-right: 1.5rem;
        }
        .social-icons-links__line-link{
            padding: 0.25rem;
            font-size: 1.15rem;
        }
    /** Content */
        /*? Content - Profile*/
            /*! Content - Profile : ABOUT */
            .about{
                width: 65%;
            }
                .about__photo{
                    padding: 0.5rem;
                }
                    .about__photo-img{
                        width: 7rem;
                    }
            /*! Content - Profile : PERSONAL INFO */
                .personal-info__line-title{
                    width: 30%;
                    text-align: right;
                }
                .personal-info__line-desciprtion{
                    width: 70%;
                }
        /*? Content - Menu*/
        .menu-main{
            padding: 0 3rem;
        }
            .menu-main_tab-link{
                font-size: 0.9rem;
            }
}

@media (max-width: 426px) {
    /** Container */
    .main-container{
        grid-template-columns: 400px;
    }
    /** Header */
    .main-container header{
        flex-direction: column;
    }
        /*! Header - LOGO */
        .logo-header{
            margin-bottom: 0.5rem;
            width: 100%;
        }
        /*! Header - SOCIAL ICONS */
        .social-icons-container{
            width: 100%;
        }
            .social-icons-links{
                visibility:  visible;
                margin: 0;
            }
            .social-icons__button{
                display: none;
            }
    /** Content */
        /*? Content - Profile*/
        .profile{
            flex-direction: column;
        }
            /*! Content - Profile : ABOUT */
            .about{
                margin: 1.5rem 2rem;
                width: auto;
            }
                .about__photo{
                    display: none;
                }
                .about__texts{
                    margin-left: 0rem;
                }
                    .about__texts-title{
                        font-size: 1.75rem;
                    }
            /*! Content - Profile : PERSONAL INFO */
            .personal-info{
                margin: 0 1.5rem 1.5rem 1.5rem;
                padding: 2rem 0 1rem;
                background: url("../img/header-shadow.png"),
                    linear-gradient(180deg, var(--red-light) 0%, var(--blue-dark) 100%);
                background-repeat: no-repeat;
                line-height: 1.25rem;
            }
                .personal-info__line{
                    justify-content: flex-start;
                }
                    .personal-info__line-title{
                        width: auto;
                    }
                    .personal-info__line-desciprtion{
                        width: inherit;
                    }
        /*? Content - Menu*/
        .menu-main{
            padding: 0;
            height: 5rem;
        }
            .menu-main_tab{
                margin: 0 0.25rem;
                line-height: 1.5rem;
            }
            .menu-main_tab.active{
                background: none;
            }
                .menu-main_tab-link{
                    font-size: 0.75rem;
                }
                    .menu-main_tab-link > i{
                        font-size: 2.5rem;
                    }
}

@media (max-width: 321px) {
    /** Container */
    .main-container{
        grid-template-columns: 300px;
    }
    /** Header */
    .main-container header{
        flex-direction: column;
    }
        /*! Header - LOGO */
        .logo-header{
            margin: 0.75rem;
            width: 90%;
        }
        /*! Header - SOCIAL ICONS */
        .social-icons-container{
            width: 100%;
        }
    /** Content */
        /*? Content - Profile*/
        .personal-info__line{
            line-height: 1rem;
        }
            /*! Content - Profile : ABOUT */
            .about{
                margin: 0.75rem 1.25rem;
            }
            /*! Content - Profile : PERSONAL INFO */
            .personal-info{
                margin: 0 0.75rem 0.75rem 0.75rem;
            }
        /*? Content - Menu*/
        .menu-main{
            padding: 0;
        }
            .menu-main_tab-link{
                font-size: 0.75rem;
            }
}
