/** GENERIC CLASSES */
.content-title-back{
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-indent: 0.5rem;
    letter-spacing: 0.5rem;
}
.content-title-circle{
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.15rem;
    width: 30%;
    text-transform: uppercase;
    text-indent: 1rem;
}

/** DOM */
body{
    background-image: url("../img/bg-body.jpg");
}

.main-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 860px;
    grid-template-rows: auto auto auto;
    grid-gap: 0.5rem;
    margin: 2rem auto 1rem auto;
}

/** Header */
.main-container header{
    display: flex;
}
    /*! Header - LOGO */
    .logo{
        visibility: hidden;
        margin-left: 2rem;
        width: 50%;
    }
        .logo__subtitle{
            color: var(--gray-dark);
            line-height: 1.25rem;
            font-family: 'Oswald', sans-serif;
            font-size: 1.25rem;
        }
    /*! Header - SOCIAL ICONS */
    .social-icons-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }
        .social-icons-container__links{
            display: flex;
            margin: 0 2rem 0 0;
            opacity: 0.75;
            z-index: -1;
            transition: all ease 1s;
        }
            .social-icons-container__link{
                margin-right: 1rem;
            }
        .social-icons-container__button{
            border: none;
            width: 2rem;
            height: 2rem;
            color: white;
            background-color: var(--red-light);
            line-height: 1rem;
            font-size: 1.25rem;
            box-shadow: 0 0 0 0 rgb(101, 100, 102);
        }

/** Content */
.main-content{
    display: flex;
    flex-direction: column;
    background-color: white;
}
    /*? Content - Profile*/
    .profile{
        display: flex;
        background-color: var(--red-light);
        background-image: url("../img/header-shadow.png");
        background-position: center bottom;
        background-repeat: repeat-x;
    }
        /*! Content - Profile : ABOUT */
        .about{
            display: flex;
            margin-top: 2rem;
            margin-left: 1.25rem;
            width: 50%;
        }
            .about__photo{
                width: 12rem;
                height: 13rem;
                padding: 0.75rem 0 0 1.25rem;
                background-image: url("../img/photo-inner.png");
                background-repeat: no-repeat;
            }
            .about__texts{
                margin-left: 1rem;
            }
                .about__texts-title{
                    margin-top: 0.5rem;
                    color: var(--gray-medium);
                    line-height: 2rem;
                    font-weight: 700;
                }
                .about__texts-subtitle{
                    margin-top: 0.1rem;
                    color: black;
                    line-height: 1.25rem;
                    font-size: 1.25rem;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 500;
                }
                .about__texts-description{
                    margin-top: 1rem;
                    color: white;
                    line-height: 1.5rem;
                    font-size: 0.9rem;
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                }
        /*! Content - Profile : PERSONAL INFO */
        .personal-info{
            margin-top: 1.5rem;
            margin-left: 0.75rem;
            padding: 1.25rem 0 1.25rem 1.25rem;
            width: 45%;
            min-height: 16rem;
            background: url("../img/personal-info-sep.png") no-repeat left top;
        }
            .personal-info__line{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0.25rem;
                width: 100%;
                line-height: 0.75rem;
                font-size: 0.9rem;
            }
                .personal-info__line-title{
                    padding: 0.25rem 0.5rem;
                    border-radius: 3px;
                    color: var(--gray-medium);
                    font-weight: 550;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                }
                .personal-info__line-desciprtion{
                    padding-top: 0.25rem;
                    width: 18rem;
                    color: white;
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                }

    /*? Content - Menu*/
    .menu-main{
        padding-left: 9rem;
        padding-right: 9rem;
        height: 6rem;
        background-color: var(--gray-light);
        border-bottom: 1px solid var(--red-light);
    }
        /*! Content - Menu : TABS*/
        .menu-main_tabs{
            display: flex;
            margin-top: -1rem;
            height: 7.5rem;
            z-index: 100;
        }
            .menu-main_tab{
                margin-right: 1.5rem;
                padding: 1.5rem 0;
                width: 7.5rem;
                line-height: 2rem;
            }
            .menu-main_tab.active{
                background: url("../img/tab-hover.png") no-repeat;
            }
                .menu-main_tab-link{
                    color: var(--gray-medium);
                    font-size: 1rem;
                    font-weight: 580;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all ease 0.5s;
                }
                .menu-main_tab-link:hover{
                    color: var(--gray-medium);
                    text-decoration: none;
                    font-size: 1.25rem;
                }
                .menu-main_tab-link.active{
                    color: var(--red-light);
                }
                    .menu-main_tab-link > i{
                        display: block;
                        margin-bottom: 0.1rem;
                        font-size: 3rem;
                    }
                    .menu-main_tab-link.active > i{
                        animation:  bounce 2s infinite;
                    }
                    .menu-main_tab-link > span{
                        display: block;
                    }

    /*? Content - Resume*/
    .resume{
        display: flex;
        background-color: var(--gray-light);
    }
        .resume-part-left, .resume-part-right{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .resume-profile, .resume-contact, .resume-experience, .resume-skills, .resume-intersets, .resume-education{
            display: flex;
            flex-direction: column;
        }
        .resume-skills, .resume-intersets, .resume-education{
            background-color: black;
            color: white;
        }
        /*! Content - Resume : PPROFILE*/
        .resume-profile{
            padding: 0.5rem 1rem;
        }
            .resume-profile__title{
                margin: 1rem 0.5rem 0.5rem;
                color: var(--red-light);
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            .resume-profile__subtitle{
                border-radius: 50px;
                padding: 0.5rem;
                width: 90%;
                background-color: black;
                color: white;
                text-align: center;
                text-transform: uppercase;
            }
            .resume-profile__description{
                margin: 1rem 0;
                color: black;
            }
        /*! Content - Resume : CONTACT - EXPERIENCE*/
        .resume-contact, .resume-experience{
            background-color: white;
        }
            .resume-contact-title, .resume-experience-title{
                background-color: var(--red-light);
                color: white;
            }
        /*! Content - Resume : CONTACT*/
            .resume-contact-data{
                border-top: 1px dotted red;
                padding: 0.5rem 1rem;
            }
                .resume-contact-data__line{
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    font-weight: 700;
                }
                    .resume-contact-data__line-title{
                        width: 25%;
                        color: var(--red-light);
                        text-transform: uppercase;
                    }
                    .resume-contact-data__line-desciprtion{
                        width: 75%;
                    }
        /*! Content - Resume : EXPERIENCE*/
            .resume-experience-data__line{
                display: flex;
                flex-direction: column;
                border-top: 1px dotted red;
                padding: 1rem;
            }
                .resume-experience-data__line-date{
                    background-color: var(--red-light);
                    color: white;
                }
                .resume-experience-data__line-title{
                    margin: 0.25rem;
                    font-weight: 900;
                    text-transform: uppercase;
                }
                .resume-experience-data__line-desciprtion{
                    margin: 0.25rem;
                }
        /*! Content - Resume : SKILLS*/
            .resume-skills-data{
                background-color: var(--gray-medium);
            }

/** Footer */
.copyright{
    color: var(--gray-dark);
    font-weight: 700;
}

/** Animaciones */
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-10px);
    }
}


@media (max-width: 768px) {
    .main-container{
        grid-template-columns: 700px;
    }
}

@media (max-width: 425px) {
}
