/** --- GENERIC CLASSES --- */
.visibility{
    visibility: visible !important;
}
.display-flex{
    display: flex !important;
}

.content-title-back{
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-indent: 0.5rem;
    letter-spacing: 0.5rem;
}
.content-title-circle{
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.15rem;
    width: 30%;
    text-transform: uppercase;
    text-indent: 1rem;
}

/** --- DOM --- */
body{
    background-image: url("../img/bg-body.jpg");
}

a{
    color: var(--white);
    text-decoration: none;
}

/** --- SPECIFIC CLASSES --- */
/** Container */
.main-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 860px;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    margin: 2rem auto 1rem auto;
}

/** Header */
.main-container header{
    display: flex;
}
    /*! Header - LOGO */
    .logo-header{
        display: inherit;
        visibility: visible;
        margin-left: 2rem;
        width: 50%;
    }
        .logo-header__img{
            width: 4rem;
            height: 4rem;
            filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.7));
        }
        .logo-header-texts{
            margin: auto;
            margin-left: 1rem;
        }
            .logo-header__title{
                line-height: 1.5rem;
                font-size: 1.75rem;
                font-weight: 900;
            }
            .logo-header__subtitle{
                color: var(--gray-dark);
                line-height: 1.5rem;
                font-size: 1.25rem;
                font-family: 'Oswald', sans-serif;
            }
    /*! Header - SOCIAL ICONS */
    .social-icons-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }
        .social-icons-links{
            display: flex;
            visibility:  hidden;
            margin: 0 2rem 0 0;
            border-radius: 15px;
            border: 2px solid var(--gray-medium);
            background-color: var(--gray-light);
            opacity: 0.9;
        }
            .social-icons-links__line{
                margin: 0 0.5rem;
                padding: 0.25rem;
            }
                .social-icons-links__line-link{
                    padding: 0.5rem;
                    font-size: 1.25rem;
                    cursor: pointer;
                }
                .social-icons-links__line-link:hover > .fa{
                    opacity: 0.5;
                }
                    .fa-facebook{
                        color: var(--facebook);
                    }
                    .fa-twitter{
                        color: var(--twitter);
                    }
                    .fa-linkedin{
                        color: var(--linkedin);
                    }
                    .fa-whatsapp{
                        color: var(--whatsapp);
                    }
        .social-icons__button{
            border: 1px solid var(--gray-medium);
            width: 2rem;
            height: 2rem;
            color: var(--white);
            background-color: var(--blue-dark);
            line-height: 1rem;
            font-size: 1.25rem;
            cursor: pointer;
        }

/** Content */
.main-content{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;
}

    /*? Content - Profile*/
    .profile{
        display: flex;
        justify-content: space-evenly;
        background-color: var(--red-light);
        background-image: url("../img/header-shadow.png");
        background-position: center bottom;
        background-repeat: repeat-x;
    }
        /*! Content - Profile : ABOUT */
        .about{
            display: flex;
            margin-top: 1.5rem;
            margin-left: 1.25rem;
        }
            .about__photo{
                width: 12rem;
                height: 13rem;
                padding: 0.75rem 1.25rem;
                background-image: url("../img/photo-inner.png");
                background-repeat: no-repeat;
            }
            .about__texts{
                margin-left: 0.5rem;
            }
                .about__texts-title{
                    margin-top: 0.5rem;
                    color: var(--gray-medium);
                    line-height: 2rem;
                    font-weight: 700;
                }
                .about__texts-subtitle{
                    line-height: 1.5rem;
                    font-size: 1.25rem;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 500;
                }
                .about__texts-description{
                    margin-top: 1rem;
                    color: var(--white);
                    line-height: 1.25rem;
                    font-size: 0.9rem;
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                }
        /*! Content - Profile : PERSONAL INFO */
        .personal-info{
            margin: 1.5rem 0;
            padding: 1.25rem;
            min-height: 15rem;
            background: url("../img/personal-info-sep.png") no-repeat left top;
        }
            .personal-info__line{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0.25rem;
                width: 100%;
                line-height: 0.75rem;
                font-size: 0.9rem;
            }
                .personal-info__line-title{
                    padding: 0.25rem 0.5rem;
                    color: var(--gray-medium);
                    font-weight: 550;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                }
                .personal-info__line-desciprtion{
                    padding-top: 0.25rem;
                    width: 18rem;
                    color: var(--white);
                    font-weight: 400;
                    font-family: 'Roboto Condensed', sans-serif;
                }

    /*? Content - Menu*/
    .menu-main{
        position: relative;
        top: 0;
        padding: 0 6rem;
        height: 6rem;
        background-color: var(--gray-light);
        border-bottom: 1px solid var(--red-light);
    }
        /*! Content - Menu : TABS*/
        .menu-main_tabs{
            display: flex;
            justify-content: space-evenly;
            margin-top: -1rem;
            height: 7.5rem;
            z-index: 100;
        }
            .menu-main_tab{
                margin: 0 0.5rem;
                padding: 1.5rem 0;
                width: 7.5rem;
                line-height: 2rem;
            }
            .menu-main_tab.active{
                background: url("../img/tab-hover.png") no-repeat;
            }
                .menu-main_tab-link{
                    color: var(--gray-medium);
                    font-size: 1rem;
                    font-weight: 580;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all ease 0.5s;
                }
                .menu-main_tab-link:hover{
                    color: var(--gray-medium);
                    text-decoration: none;
                    font-size: 1.25rem;
                }
                .menu-main_tab-link.active{
                    color: var(--blue-dark);
                }
                    .menu-main_tab-link > i{
                        display: block;
                        margin: 0.25rem 0 0.1rem;
                        font-size: 3rem;
                    }
                    .menu-main_tab-link.active > i{
                        animation:  bounce 2s infinite;
                    }
                    .menu-main_tab-link > span{
                        display: block;
                    }

    /*? Content - Resume*/
    .resume{
        display: none;
        background-color: var(--gray-light);
    }
        .resume-part-left, .resume-part-right{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .resume-profile, .resume-contact, .resume-experience, .resume-skills, .resume-interests, .resume-education{
            display: flex;
            flex-direction: column;
        }
        .resume-skills, .resume-interests, .resume-education{
            background-color: var(--black);
            color: var(--white);
        }
        /*! Content - Resume : PPROFILE*/
        .resume-profile{
            padding: 0.5rem 1rem;
            background-color: var(--gray-light-medium);
        }
            .resume-profile__title{
                margin: 1rem 0.5rem 0.5rem;
                color: var(--red-light);
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            .resume-profile__subtitle{
                border-radius: 50px;
                padding: 0.5rem;
                width: 90%;
                background-color: var(--black);
                color: var(--white);
                text-align: center;
                text-transform: uppercase;
            }
            .resume-profile__description{
                margin: 1rem 0;
            }
        /*! Content - Resume : CONTACT - EXPERIENCE*/
        .resume-contact, .resume-experience{
            background-color: var(--white);
        }
            .resume-contact-title, .resume-experience-title{
                background-color: var(--red-light);
                color: var(--white);
            }
        /*! Content - Resume : CONTACT*/
            .resume-contact-data{
                border-top: 1px dotted red;
                padding: 1rem;
            }
                .resume-contact-data__line{
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    font-weight: 700;
                }
                    .resume-contact-data__line-title{
                        width: 25%;
                        color: var(--red-light);
                        text-transform: uppercase;
                    }
                    .resume-contact-data__line-desciprtion{
                        width: 75%;
                    }
        /*! Content - Resume : EXPERIENCE*/
            .resume-experience-data__line{
                display: flex;
                flex-direction: column;
                border-top: 1px dotted red;
                padding: 1rem;
            }
                .resume-experience-data__line-date{
                    background-color: var(--red-light);
                    color: var(--white);
                }
                .resume-experience-data__line-title{
                    margin: 0.25rem;
                    font-weight: 900;
                    text-transform: uppercase;
                }
                .resume-experience-data__line-desciprtion{
                    margin: 0.25rem;
                }
        /*! Content - Resume : SKILLS - INTERESTS - EDUCATION*/
            .resume-skills-title, .resume-interests-title, .resume-education-title{
                color: var(--red-light);
                text-align: center;
            }
            .resume-skills-data, .resume-interests-data, .resume-education-data{
                background-color: var(--blue-desaturated-dark);
                padding: 1rem;
            }
        /*! Content - Resume : SKILLS*/
            .resume-skills-data__line{
                display: flex;
                padding: 0.5rem 1rem;
            }
                .resume-skills-data__line-title{
                    width: 35%;
                    text-transform: uppercase;
                }
                .resume-skills-data__line-progressbar{
                    border-radius: 15px;
                    width: 65%;
                    background-color: var(--white);
                }
                .resume-skills-data__line-progressbar::before{
                    content: attr(data-value) '%';
                    display: block;
                    border-radius: 15px;
                    margin: 0.15rem;
                    width: 60%;
                    height: 80%;
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, var(--red-light) 100%);
                    text-align: center;
                }
        /*! Content - Resume : INTERESTS*/
            .resume-interests-data{
                display: flex;
                flex-wrap: wrap;
            }
                .resume-interests-data__line{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 1rem;
                    width: 25%;
                }
                    .resume-interests-data__line-icon{
                        margin-bottom: 1rem;
                        color: var(--blue-desaturated);
                        font-size: 2rem;
                    }
                    .resume-interests-data__line-title{
                        text-transform: uppercase;
                    }
        /*! Content - Resume : EDUCATION*/
            .resume-education-data__line{
                display: flex;
                flex-direction: column;
                padding: 1rem;
            }
                .resume-education-data__line-date{
                    color: var(--blue-very-dark);
                    background-color: var(--white);
                    font-weight: 900;
                }
                .resume-education-data__line-title{
                    color: var(--red-light);
                    margin: 0.25rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .resume-education-data__line-desciprtion{
                    margin: 0.25rem;
                }

    /*? Content - Portfolio*/
    .portfolio{
        display: none;
        flex-direction: column;
    }
        .portfolio-filter, .portfolio-list{
            margin: 0 1rem;
        }
            .portfolio-filter-data, .portfolio-list-data{
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid var(--blue-desaturated-dark);
            }
        /*! Content - Portfolio : FILTER*/
                .portfolio-filter-data__line{
                    margin: 1rem;
                    border: 2px solid var(--gray-medium);
                    border-radius: 15px;
                    padding: 0.5rem 1rem;
                    background-color: var(--gray-dark);
                }
                .portfolio-filter-data__line:hover{
                    border-color: var(--blue-desaturated);
                }
                .portfolio-filter-data__line.active{
                    border-color: var(--gray-dark);
                    background-color: var(--red-light);
                    /*border-color: var(--gray-dark);
                    background-color: var(--red-light);*/
                }
                .portfolio-filter-data__line.active:hover{
                    border-color: var(--gray-medium);
                }
        /*! Content - Portfolio : LIST*/
            .portfolio-list-data{
                background-color: var(--gray-light-medium);
            }
                .portfolio-list-data__line{
                    margin: 1rem 2.5rem;
                    border-top: 2px solid var(--gray-light);
                    border-bottom: 2px solid var(--gray-light);
                    border-radius: 5px;
                    padding: 0.5rem;
                    background-color: var(--gray-light);
                }
                .portfolio-list-data__line:hover{
                    border-bottom-color: var(--blue-dark);
                    background-color: var(--gray-medium);
                }
                .portfolio-list-data__line.active{
                    border-top: 2px solid var(--blue-dark);
                    border-bottom: 2px solid var(--blue-dark);
                }
                    .portfolio-list-data__line-link{
                        color: var(--black);
                    }
                        .portfolio-list-data__line-link-img{
                            width: 180px;
                            height: 120px;
                        }
                        .portfolio-list-data__line-link-title{
                            margin: 0.5rem 0;
                            text-indent: 0.5rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
                        .portfolio-list-data__line-link-categorie{
                            display: block;
                            border-top: 1px solid var(--blue-desaturated);
                            padding-top: 0.5rem;
                            color: var(--red-light);
                            font-weight: 700;
                            text-align: right;
                        }

    /*? Content - Contact*/
    .contact{
        display: none;
        flex-direction: column;
    }
        .contact-row2{
            display: flex;
        }
        /*! Content - Contact : MAP*/
        .contact-map{
            margin-bottom: 1.5rem;
            border-top: 1px solid var(--gray-light-medium);
            border-bottom: 1px solid var(--gray-light-medium);
            width: 100%;
        }
            .contact-map__iframe{
                width: 100%;
                height: 300px;
            }
        /*! Content - Contact : INFO*/
        .contact-info{
            width: 30%;
        }
        /*! Content - Contact : MSG*/
        .contact-msg{
            width: 70%;
        }

/** Footer */
.copyright{
    padding: 0.25rem;
    color: var(--gray-dark);
    font-weight: 900;
    text-align: center;
    font-size: 1.25rem;
}

/** --- ANIMATIONS --- */
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-10px);
    }
}

/** --- RESPONSIVE --- */
@media (max-width: 769px) {
    /** Container */
    .main-container{
        grid-template-columns: 700px;
    }
    /** Header */
    .logo-header{
        margin-left: 1.5rem;
        width: 60%;
    }   .logo-header__title{
            font-size: 1.5rem;
        }
        .logo-header__subtitle{
            line-height: 1.25rem;
            font-size: 1.15rem;
        }
    .social-icons-container{
        width: 40%;
    }
        .social-icons-links{
            margin-right: 1.5rem;
        }
        .social-icons-links__line-link{
            padding: 0.25rem;
            font-size: 1.15rem;
        }
    /** Content */
        /*? Content - Profile*/
        .profile{
            flex-direction: column;
        }
            .about{
                margin: 0.75rem;
            }
            .personal-info{
                margin: 0;
                min-height: 12rem;
                background: url("../img/header-shadow.png") no-repeat left top;
            }
                .personal-info__line-title{
                    width: 50%;
                    text-align: right;
                }
                .personal-info__line-desciprtion{
                    width: 50%;
                }
        /*? Content - Menu*/
        .menu-main{
            padding: 0 3rem;
        }
            .menu-main_tab-link{
                font-size: 0.9rem;
            }
}

@media (max-width: 426px) {
    /** Container */
    .main-container{
        grid-template-columns: 400px;
    }
    /** Header */
    .main-container header{
        flex-direction: column;
    }
        .logo-header{
            margin-bottom: 0.5rem;
            width: 100%;
        }
        .social-icons-container{
            width: 100%;
        }
    /** Content */
        /*? Content - Profile*/

        /*? Content - Menu*/
        .menu-main{
            padding: 0;
        }
            .menu-main_tab-link{
                font-size: 0.75rem;
            }
}

@media (max-width: 321px) {
    /** Container */
    .main-container{
        grid-template-columns: 300px;
    }
    /** Header */
    .main-container header{
        flex-direction: column;
    }
        .logo-header{
            margin-bottom: 0.5rem;
            width: 100%;
        }
        .social-icons-container{
            width: 100%;
        }
    /** Content */
        /*? Content - Profile*/

        /*? Content - Menu*/
        .menu-main{
            padding: 0;
        }
            .menu-main_tab-link{
                font-size: 0.75rem;
            }
}
